Welcome to example.com, <%= @user.first_name %>
===============================================

You have successfully signed up to overattired.com,
your username is: <%= @user.email %>.

To login to the site, just follow this link: <%= @url %>.

    <h1> YOUR MATHCES </h1>


    <% @user.get_initial_matches.each do |product| %>
      <p> Title: <%= product.title %></p>
      <p> Link: <%= product.url %></p>
    <% end %>

Thanks for joining and have a great day!