<h1>Hello from the Profile Page!</h1>

<p><%= @user.first_name %>'s Profile!</p>

<% if @user.measurement && @user.measurement.gender == "female"%>
  <p>Bust: <%= @user.measurement.bust %></p>
  <p>Waist: <%= @user.measurement.waist %></p>
  <p>Hip: <%= @user.measurement.hips %></p>
<% elsif @user.measurement %>
  <p>Chest: <%= @user.measurement.chest %></p>
  <p>Waist: <%= @user.measurement.waist %></p>
  <p>Inseam: <%= @user.measurement.inseam %></p>
<% end %>

<h3>Your Matches</h3>
<ul>
	<% @matches.each do |match| %>
		<li><%= match.name %></li>
		<li><a href="<%= match.url %>"><%= match.url %></a></li>
	<% end %>
</ul>


<%= link_to "Back", '/' %>
<%= link_to "Edit My Account Details", edit_user_path(@user) %>

<% if @user.measurement %>
  <%= link_to "Edit My Measurements", edit_user_measurement_path(@user.id, @user.measurement.id) %>
<% else %>
  <%= link_to "Add My Measurements", new_user_measurement_path(@user.id) %>
<% end %>

<%= link_to "Delete My Profile", user_path(@user), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>