<h1>Hello from Show Product Measurement Page</h1>

<h2>Measurement Details for <%= @measurement.measurable.name %></h2>

<p><%= @measurement.gender %></p>

<% if @measurement.gender == "Female" || @measurement.gender == "female" %>

  <p>Hips: <%= @measurement.hips %></p>

  <p>Bust: <%= @measurement.bust %></p>

  <p>Waist: <%= @measurement.waist %></p>

<% else %>

  <p>Chest: <%= @measurement.chest %></p>

  <p>Inseam: <%= @measurement.inseam %></p>

  <p>Waist: <%= @measurement.waist %></p>

<% end %>

<%= link_to "Back to Product Details", admin_product_path(@measurement.measurable.id) %>
