
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag "overattired_sign.jpg"%>
        <div class="carousel-caption">
          <h3>Overattired Storefront</h3>
          <p>Fitting you with the finest sartorial trends from decades of fashion, est. 2015</p>
        </div>
      </div>

      <div class="item">
        <!--img src="http://wearinghistoryblog.com/wp-content/uploads/2015/05/ea59d504f35f70ceafae2667277afd96_original.jpg" alt="Third slide" alt="Chania" width="460" height="345"-->
        <%= image_tag "sammonica.jpg"%>
        <div class="carousel-caption">
          <h3>Sam and Monica</h3>
          <p>Overattired's dapper proprietors</p>
        </div>
      </div>
    
      <div class="item">
        <!--img src="https://overattired.files.wordpress.com/2015/10/daytime-sign-cropped.jpg" alt="Third slide" alt="Flower" width="460" height="345"-->
        <%= image_tag "dressedtothenines.jpg"%>
        <div class="carousel-caption">
          <h3>Our Wonderful Patrons</h3>
          <p>Dressed To The Nines</p>
        </div>
      </div>
  
    </div>
  </div><!--carousel -->

    <div class="container content-area" id="story-box-margin-bottom">
      <div class="row">
        <h1 id="story-box-header">Find Your Ideal Match</h1>
      </div>
      <div class="row">
        <div class="col-md-4">

          <div class="col-centered" style="text-align: center">
            
            <%= image_tag "edit.png", class: "img-circle color-circle image-bottom" %>

          </div>
          <h3 class="section-subheading text-center">Sign Up</h3>
          <p class="text-muted text-center">Create your own account in a cinch by simply providing us with your name and email.</p>
        </div>
        <div class="col-md-4">
          <div class="col-centered" style="text-align: center">
            
              <%= image_tag "tool-1.png", class: "img-circle color-circle image-bottom" %>
            
          </div>
          <h3 class="section-subheading text-center">Get Measured</h3>
          <p class="text-muted text-center">Enter your personal measurements from home or in store. If you are remote we will guide you through the process, lickety-split.</p>
        </div>
        <div class="col-md-4">
          <div class="col-centered" style="text-align: center">
            <div>
              <%= image_tag "summer.png", class: "img-circle color-circle image-bottom"%>
            </div>
          </div>
          <h3 class="section-subheading text-center">Receive Matches</h3>
          <p class="text-muted text-center">Voila! We will provide you with tailored matches based on your size.  When something arrives in the shop that fits you we will let you know.  That perfect piece found you!</p>

        </div>
        <div class="row text-center">
          <%= link_to "register", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div><!-- content area -->
