<%= form_for([@measurable, @measurement]) do |f| %>

  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@measurement.errors.count, "error") %> prohibited
        these edits from being saved:
      </h2>
      <ul>
        <% @measurement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">

      <fieldset class="form-group">
        <%= f.radio_button :gender, 'female' %> 
        <%= f.label :gender, 'Female', :value => 'female' %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.radio_button :gender, 'male' %>
        <%= f.label :gender, 'Male', :value => 'male' %>
      </fieldset>

      <% hips_range = (30..60).map { |i| [i, i]} %>
      <% hips_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="hips-image" class="measurement-image">
          <%= image_tag "hips.png" %>
        </div>
        <%= f.label :hips %>
        <%= f.select :hips, options_for_select(hips_range, :selected => f.object.hips.to_i), {}, {class: "measurement-input form-control"} %>
      </fieldset>

      <% waist_range = (20..50).map { |i| [i, i]} %>
      <% waist_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="waist-image" class="measurement-image">
          <%= image_tag "waist.png" %>
        </div>
        <%= f.label :waist %>
        <%= f.select :waist, options_for_select(waist_range, :selected => f.object.waist.to_i), {}, {class: "measurement-input form-control"} %>
      </fieldset>

      <% bust_range = (20..60).map { |i| [i, i]} %>
      <% bust_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="bust-image" class="measurement-image">
          <%= image_tag "bust.png" %>
        </div>
        <%= f.label :bust, "Over Bust" %>
        <%= f.select :bust, options_for_select(bust_range, :selected => f.object.bust.to_i), {}, {class: "measurement-input form-control"} %>
      </fieldset>

      <% chest_range = (30..60).map { |i| [i, i]} %>
      <% chest_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="chest-image" class="measurement-image">
          <%= image_tag "chest.jpg" %>
        </div>
        <%= f.label :chest %>
        <%= f.select :chest, options_for_select(chest_range, :selected => f.object.chest.to_i), {}, {:class => "measurement-input form-control"}%>
      </fieldset>

      <% inseam_range = (25..35).map { |i| [i, i]} %>
      <% inseam_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="inseam-image" class="measurement-image">
          <%= image_tag "inseam.jpg" %>
        </div>
        <%= f.label :inseam %>
        <%= f.select :inseam, options_for_select(inseam_range, :selected => f.object.inseam.to_i), {}, {:class => "measurement-input form-control"} %>
      </fieldset>

      <% shoulders_range = (14..22).map { |i| [i, i]} %>
      <% shoulders_range.unshift([nil, ""])%>

      <fieldset class="form-group">
        <div style="display: none;" id="shoulders-image" class="measurement-image">
          <%= image_tag "shoulders.jpg" %>
        </div>
        <%= f.label :shoulders %>
        <%= f.select :shoulders, options_for_select(shoulders_range, :selected => f.object.shoulders.to_i), {}, {:class => "measurement-input form-control"} %>
      </fieldset>
    </div><!--col 4 close-->

    <div class="col-md-8">
      <div id="measurement-image">
      </div><!--measurement image close-->
    </div><!-- col 8 close-->

  </div><!--row close-->
  <div class="row">
    <fieldset class="form-group">
      <%= f.label :comment %><br>
      <small class="text-muted">Please let us know any sizing concerns, styling preferences, preferred decade or era, and general comments about products you would like to see.</small>
    <%= f.text_area :comment, class: "form-control", rows: '6' %>
    </fieldset>


  </div>

  <p>
    <%= f.submit %>
  </p>

<% end %>
