<h1>This is the Products Index page located at views/admin/products/index</h1>

<p><%= link_to "Add New Product", new_admin_product_path %></p>
<p><%= link_to "See All Customers", admin_users_path %></p>
<!-- <p><%#= link_to "Import Products from Etsy", :controller => :products_controller, :action => :update_products_form_etsy %></p> -->

<ul>
  <% @products.each do |product| %>
  <li><%= link_to "#{product.title}", admin_product_path(product.id) %></li>
  <% end %>
</ul>

<button type="button" class="btn btn-info btn-md"><%= link_to "Add New Product", new_admin_product_path %></button>
<button type="button" class="btn btn-default btn-md"><%= link_to "See All Customers", admin_users_path %></button>
