<div class="container top full-container">


<div class="row">
	<div class="col-md-3">
	    <div class="sidebar info-display__links">
				<p><%= link_to ">> Import From Etsy", update_products_from_etsy_path%></p>
				<p><%= link_to "Add New Product", new_admin_product_path %></p>
				<p><%= link_to "See All Customers", admin_users_path %></p>
			</div><!--side bar close-->
	  	</div><!--col close-->
	<div class="col-md-9">
	<div class="row">
		<div class="col-md-9">
		<h1>Admin Index</h1>
		</div>
	</div>
		<div class="info-display center-me">
		  <h3>Active Listings:</h3>
		  	<table class="table table-hover">
		  		<thead>
			  		<tr>
			  			<th>Title</th>
			  			<th>Subtitle</th>
			  			<th>Gender</th>
			  			<th>Category</th>
			  			<th>Decade</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<% @products.each do |product| %>
			  		<% if product.active %>
			  		<tr>
			  			<td><%= link_to "#{product.title}", admin_product_path(product.id) %></td>
			  			<td><%= product.subtitle %></td>
			  			<td><%= product.measurement.gender %></td>
			  			<td><%= product.category %></td>
			  			<td><%= product.when_made %></td>
			  		</tr>
			  		<% end %>
				  	<% end %>
				  </tbody>
				</table>
			</div><!--col close-->
	<div class="row col-md-9">
	<div class="info-display">
		<h3>Inactive Listings:</h3>
	  	<table class="table table-hover">
	  		<thead>
		  		<tr>
		  			<th>Title</th>
		  			<th>Subtitle</th>
		  			<th>Gender</th>
		  			<th>Category</th>
		  			<th>Decade</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<% @products.each do |product| %>
		  		<% if !(product.active) %>
		  		<tr>
		  			<td><%= link_to "#{product.title}", admin_product_path(product.id) %></td>
		  			<td><%= product.subtitle %></td>
		  			<td><%= product.measurement.gender %></td>
		  			<td><%= product.category %></td>
		  			<td><%= product.when_made %></td>
		  		</tr>
		  		<% end %>
			  	<% end %>
			  </tbody>
			</table>
		</div>

    </div>
  </div>
  </div><!--info display -->
</div><!-- row close -->

</div><!--container close-->
