<div class="container top full-container">
<h1> Create a new product </h1>

<%= form_for :product, url: admin_products_path, method: :post, html: { class: "test_class" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <fieldset class="form-group col-md-4">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-4">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-2">
      <%= f.label :price %>
      <%= f.text_field :price, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-4">
      <%= f.label :category %>
      <%= f.text_field :category, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-10">
      <%= f.label :url %>
      <%= f.text_field :url, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-10">
      <%= f.label :image_url %>
      <%= f.text_field :image_url, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-4">
      <%= f.label :size %>
      <%= f.text_field :size, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-4">
      <%= f.label :when_made, "Decade" %>
      <%= f.select :when_made, [["1920s", "1920s"], ["1930s", "1930s"], ["1940s", "1940s"], ["1950s", "1950s"], ["1960s", "1960s"], ["1970s", "1970s"], ["1980s", "1980s"]], {}, :class => "form-control" %>
    </fieldset>
  </div>
  
  <div class="row">
    <fieldset class="form-group col-md-8">
      <%= f.label :description %>
      <%= f.text_area :description, :class => "form-control", :rows => "6" %>
    </fieldset>
  </div>
  
  <%= f.fields_for :measurement_attributes do |measurements_form| %>

    <fieldset class="form-group">
      <%= measurements_form.radio_button :gender, 'female' %> 
      <%= measurements_form.label :gender, 'Female', :value => 'female' %>
    </fieldset>
    <fieldset class="form-group">
      <%= measurements_form.radio_button :gender, 'male' %>
      <%= measurements_form.label :gender, 'Male', :value => 'male' %>
    </fieldset>

    <% hips_range = (30..60).map { |i| [i, i]} %>
    <% hips_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :hips %>
      <%= measurements_form.select :hips, hips_range, {}, {class: "measurement-input form-control"} %>
    </fieldset>

    <% waist_range = (20..50).map { |i| [i, i]} %>
    <% waist_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :waist %>
      <%= measurements_form.select :waist, waist_range, {}, {class: "measurement-input form-control"} %>
    </fieldset>

    <% bust_range = (20..60).map { |i| [i, i]} %>
    <% bust_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :bust %>
      <%= measurements_form.select :bust, bust_range, {}, {class: "measurement-input form-control"} %>
    </fieldset>

    <% chest_range = (30..60).map { |i| [i, i]} %>
    <% chest_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :chest %>
      <%= measurements_form.select :chest, chest_range, {}, {:class => "measurement-input form-control"}%>
    </fieldset>

    <% inseam_range = (25..35).map { |i| [i, i]} %>
    <% inseam_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :inseam %>
      <%= measurements_form.select :inseam, inseam_range, {}, {:class => "measurement-input form-control"} %>
    </fieldset>

    <% shoulder_range = (14..22).map { |i| [i, i]} %>
    <% shoulder_range.unshift([nil, ""])%>

    <fieldset class="form-group">
      <%= measurements_form.label :shoulders %>
      <%= measurements_form.select :shoulders, shoulder_range, {}, {:class => "measurement-input form-control"} %>
    </fieldset>
  <% end %>

    <p>
      <%= f.submit %>
    </p>

<% end %>
</div>