<p> Create a new product </p>

<%= form_for :product, url: admin_products_path, method: :post, html: { class: "test_class" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :url %>
    <%= f.text_area :url %>
  </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>