<h1><%= "Details for #{@product.name}" %></h1>

<p><%= link_to "Edit Product Details", edit_admin_product_path %></p>

<% if @product.measurement %>

	<p><%= link_to "Edit Product Measurements", edit_product_measurement_path(@product.measurement, @product) %></p>

<% else %>

	<p><%= link_to "Add Product Measurements", new_product_measurement_path(@product.id) %></p>

<% end %>

<p><%= link_to "Delete Product", admin_product_path, method: :delete %></p>
<p><%= link_to "Back to All Products", admin_products_path %></p>

<h2>Product Details</h2>
<p>
  <strong>Title:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Link:</strong>
  <a href=<%= @product.url %>><%= @product.url %></a>
</p>

<% if @product.measurement %>
	<h2>Product Measurements</h2>

	<% if @product.measurement.gender == 'female' || @product.measurement.gender == 'Female' %>
	  <p>
	    <strong>Hip:</strong>
	    <%= @product.measurement.hips %>
	  </p>

	  <p>
	    <strong>waist:</strong>
	    <%= @product.measurement.waist %>
	  </p>

	  <p>
	    <strong>bust:</strong>
	    <%= @product.measurement.bust %>
	  </p>

	<% else %>
	  <p>
	    <strong>waist:</strong>
	    <%= @product.measurement.waist %>
	  </p>

	  <p>
	    <strong>chest:</strong>
	    <%= @product.measurement.chest %>
	  </p>

	  <p>
	    <strong>inseam:</strong>
	    <%= @product.measurement.inseam %>
	  </p>

	<% end %>

<% end %>

