<h1><%= "Details for #{@product.title}" %></h1>

<div class="row info-display">
  <div class="col-md-4">
    <div class="sidebar info-display__links">
			<p><%= link_to "Edit Product Details", edit_admin_product_path %></p>

			<% if !@product.measurement %>
				<p><%= link_to "Add Product Measurements", new_product_measurement_path(@product.id) %></p>
			<% end %>

			<p><%= link_to "Delete Product", admin_product_path, method: :delete %></p>
			<p><%= link_to "Back to All Products", admin_products_path %></p>
		</div>
	</div>

	<div class="col-md-8">
    <div class="row">
      <div class="col-md-12 info-display__details">
				<h2>Product Details</h2>
				<p>
				  <strong>Title:</strong>
				  <%= @product.title %>
				</p>

				<p>
				  <strong>Link:</strong>
				  <a href=<%= @product.url %>><%= @product.url %></a>
				</p>
			</div><!--col-12-close-->
		</div><!-- row close-->


	<div class="row">
    <div class="col-md-12 info-display__details">

			<% if @product.measurement %>

				<h2>Product Measurements</h2>
				  <p><strong>Gender: </strong><%= @product.measurement.gender %></p>

				<% if @product.measurement.gender == 'female' || @product.measurement.gender == 'Female' %>
				  <p><strong>Hips: </strong><%= @product.measurement.hips %></p>
				  <p><strong>Waist: </strong><%= @product.measurement.waist %></p>
				  <p><strong>Bust: </strong><%= @product.measurement.bust %></p>
				<% else %>
				  <p><strong>Waist: </strong><%= @product.measurement.waist %></p>
				  <p><strong>Chest: </strong><%= @product.measurement.chest %></p>
				  <p><strong>Inseam: </strong><%= @product.measurement.inseam %></p>
				<% end %>

			<% end %>

			</div>
		</div>
  </div><!-- col-8-close-->
</div>
