<h1>Editing <%= @product.name %></h1>

<%= form_for :product, builder: LabellingFormBuilder, url: product_path(@product), method: :patch, html: { class: "test_class" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.text_area :gender %>
  </p>

  <p>
    <%= f.text_area :url %>
  </p>

  <%= f.fields_for :measurements do |measurements_form| %>

    <p>
      <%= measurements_form.text_field :gender %>
    </p>

    <p>
      <%= measurements_form.text_field :hip %>
    </p>

    <p>
      <%= measurements_form.text_area :waist %>
    </p>

    <p>
      <%= measurements_form.text_area :bust %>
    </p>

    <p>
      <%= measurements_form.text_area :chest %>
    </p>

    <p>
      <%= measurements_form.text_area :inseam %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
<% end %>