<!DOCTYPE html>
<html>
<head>
  <title>OverAttired</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if current_user %>
  <p><%= link_to "logout", 'users/sign_out', method: :delete %></p>
  <p><%= link_to "my profile", "users/#{current_user.id}" %>
<% else %>
  <p><%= link_to "login", 'users/sign_in' %></p>
  <p><%= link_to "register", 'users/sign_up'%></p>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
